body{
    background: rgb(147,145,145);
}

.conteiner {
    width: 100%;
    max-width: 1000px;
    border: 1px solid;
    margin: 0 auto;
}

header{
    height: 100px;
    background: black;
}

header h1{
    font-size: 35px;
    color: white;
    padding: 25px;

}